body{
    background-color: bisque;
}

/* section{
    width: 100%;
    height:200px ;
    background-color: aquamarine;
} */

section{
    width: 50vw;
    height:50vh ;
    background-color: aquamarine;
}