/* rgb */
/* h1{
    color: rgb(255, 0,200);
} */

/* -------------------- */
/* rgba */
/* h2{
    color: rgba(255, 0,200,1 );
} */


/* ----------------------- */
/* hexadecimal */
h3{
    color: #f6e366;
}

/* can we achieve alpha channel in hexadecimal -> yes */ 

h3{
    color: #f6e366ff;
}

