div{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    background-color: lightpink;
    margin: 20px auto;
     /* transition-duration: 2000ms; */
     transition-duration: 2s;
     /* transition-property: border-radius; */
     transition-property: background-color border-radius;
     transition-delay: 2s;

}

div:hover{
    background-color: blueviolet;
    border-radius: 50%;
   
}