*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
#lol{
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 5px;
}
input{
    width: 400px;
    margin: 0px auto;
    font-size: 22px;

}
button{
    width: 120px;
    margin: 10px auto;
    font-size: 22px;
}
img{
    width: 200px;
    height: 250px;
    margin: 10px;
}

#list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

figure{
    border: 2px solid black;
}


h2{
    text-align: center;
    font-size: 22px;
    font-family: monospace;
}