<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Form for adding a new Sport</h1>
    <form action="/sports" method="POST">
        Title:
        <input type="text" name="title">
        <br>
        year:
        <input type="number" name="year">
        <br>
        isPlayed:
        true:
        <input type="radio" name="isPlayed" id="" value="true">
        false:
        <input type="radio" name="isPlayed" id="" value="false">
        <br>
        Description:
        <textarea name="description"> </textarea>
        <br>
        <button>Add Sport</button>
    </form>
</body>
</html>