/* h1{
    color: red;
}
.sam{
    color: green;
}
#samarth{
    color: blue;
} */

/* --------------------------- */
/* flow of code is from -> T TO B & L TO R */

/* h1{
    color: red;
}


h1{
    color: orange;
} */

/* ------------- */

/* #samarth{
    color: red;
}

#samarth{
    color: black;
} */
